[user]
  name = Kim Joar Bekkelund
  email = hei@kimjoar.net
  signingkey = 2C2C924AA4507028
[github]
  user = kimjoar
[color]
  ui = auto
[log]
  date = relative
[core]
  editor = code --wait
  autocrlf = input
  excludesfile = ~/.gitignore
[alias]
  s = status -sb
  l  = ll -n 15
  ll = log --graph --pretty=format:'%Cred%h%Creset %Cgreen%ch%Creset %s %C(yellow)%D%Creset'
  local = log --branches --not --remotes --simplify-by-decoration --format='%C(yellow)%D%Creset %s %Cgreen%cr%Creset'
  last = branch --sort=committerdate --format '%(color:green)%(committerdate:relative)%(color:reset) %(color:yellow)%(refname:short)%(color:reset) %(subject)'
  rank = shortlog -s -n --no-merges
  w = whatchanged --oneline
  fix = commit --amend -C HEAD
  d = diff -b
  dt = difftool
  dw = diff -b --color-words
  c = commit -m
  unmerged = !git branch -r --no-merged | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset %Cred%h%Creset %an %Cblue%ar%Creset' -1
  rc = "-c core.editor=true rebase --continue"
  merges-since-bump = rev-list main ^'HEAD^{/Bump version}' --oneline --first-parent --no-commit-header --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen%cr%Creset'
  merges-since-bump-who = shortlog main ^'HEAD^{/Bump version}' -s -n --first-parent
  commits-since-bump-count = rev-list main ^'HEAD^{/Bump version}' --count
  reb = rebase --interactive --update-refs --autosquash
[filter "tabspace"]
  clean = expand -t2
[credential]
  helper = osxkeychain
[diff]
  colorMoved = plain
  tool = difftastic
  colormovedws = allow-indentation-change
  algorithm = histogram
  renames = true
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[http]
  postBuffer = 157286400
[commit]
  gpgsign = true
[branch]
  autosetupmerge = true
  sort = -committerdate
[rebase]
  autosquash = true
[init]
  defaultBranch = main
[column]
  ui = auto
[tag]
  sort = version:refname
[push]
  autoSetupRemote = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[pull]
  rebase = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[trim]
  delete = merged-local,local,stray
