[user]
  name = Kim Joar Bekkelund
  email = hei@kimjoar.net
  signingkey = 2C2C924AA4507028
[github]
  user = kimjoar
[color]
  ui = auto
[log]
  date = relative
[core]
  editor = code --wait
  autocrlf = input
  excludesfile = ~/.gitignore
[alias]
  s = status -sb
  l  = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen%cr%Creset' -n 15
  ll = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen%cr%Creset'
  local = log --branches --not --remotes --simplify-by-decoration --format='%C(yellow)%D%Creset %s %Cgreen%cr%Creset'
  last = branch --sort=committerdate --format '%(color:green)%(committerdate:relative)%(color:reset) %(refname:short) %(color:yellow)%(objectname:short) %(color:red)%(authorname)%(color:reset) - %(subject)'
  rank = shortlog -s -n --no-merges
  w = whatchanged --oneline
  fix = commit --amend -C HEAD
  d = diff -b
  dt = difftool
  dw = diff -b --color-words
  c = commit -m
  unmerged = !git branch -r --no-merged | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset %Cred%h%Creset %an %Cblue%ar%Creset' -1
  rc = !"git add -A; git commit -m \"$(echo $(curl -s http://whatthecommit.com/index.txt))\""
  commits-since-bump = rev-list main ^'HEAD^{/Bump version}' --oneline --first-parent --no-commit-header --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen%cr%Creset'
  commits-since-bump-count = rev-list main ^'HEAD^{/Bump version}' --count
[filter "tabspace"]
  clean = expand -t2
[credential]
  helper = osxkeychain
[diff]
  colorMoved = zebra
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[http]
  postBuffer = 157286400
[commit]
  gpgsign = true
[branch]
  autosetupmerge = true
[rebase]
  autosquash = true